/* Logo theme switching */
.logo-dark { display: none !important; }
.logo-light { display: inline !important; }
[data-bs-theme="dark"] .logo-dark { display: inline !important; }
[data-bs-theme="dark"] .logo-light { display: none !important; }
